{% extends 'base.html.twig' %}

{% block title %}Recettes
{% endblock %}

{% block body %}

	<main class="d-flex flex-column justify-content-center">

		<h1 class="text-center">Recettes - レシピ (Reshipi)</h1>

		<div class="d-flex flex-raw flex-wrap justify-content-center m-3">

			{% for item in recettes %}


				<div class="card border p-2 m-2 col-lg-6 col-md-4 col-sm-2 col-xs-1" style="width: 100%; height: 930px;">
					<article>
						<header class="d-flex justify-content-center fw-bold fs-5">
							{{ item.nom }}
						</header>
						<div class="d-flex justify-content-center p-2">
							<img src="{{ asset('asset/images/recettes') }}/{{ item.recette }}" alt="{{ item.nom }}" style="width: 50%; height: 70%;">
						</div>
					</article>
				</div>

			{% endfor %}

		</div>

	</main>

{% endblock %}
