{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}

<h1>Recettes - レシピ (Reshipi)</h1>

{# <div class="d-flex flex-wrap justify-content-center m-3" style="width:80%;">



</div> #}

{% endblock %}
