{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!
{% endblock %}

{% block body %}
	<main class"container d-flex justify-content-center">

		<div class="d-flex justify-content-center w-100 ">
			<img src="{{ asset('asset/images/fonds/homepage-banner.bffc2afc.jpg') }}" alt="">
		</div>

		<div class="d-flex  justify-content-center w-100 fst-italic fs-2 mt-5">
			<p class="text-center">NihonNaFuransu, c'est un site de vente de produits japonais présent depuis plus de 1 an.
				<br/>
				notre équipe franco-japonaise est à votre disposition pour vous faire découvrir,
				<br/>
				en toute authenticité, les multiples trésors de la cuisine et de la culture japonaise.
			</p>
		</div>

	</main>

		{% endblock %}
